@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:400italic,400,700,800,600);


body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	background-color: #fafafa;
}
h1, h2, h3 {
	color: #151b69;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
h2 {
	font-size: 2em;
}
a {
	color: #151b69;
	text-decoration:none;
}
p {
	font-size: .75em;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8;
}


/* =============================================================== REUSABLE CLASSES ======= */



div .pageWrapper {
	width: 960px;
	margin: 0 auto;
	clear: left;
}
.pageWrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
}



.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.visuallyhidden {
	position:absolute;
	left:-9999px;
}



/* ====================================================================== HEADER ===========*/




.logo {
	margin:0 auto;
	float: left;
}
.logo a {
	display:block;
	width:224px;
	height:76px;
	background:url(../images/conceptlogo.png) no-repeat 0 0;
	background-image: linear-gradient(transparent,transparent), url(../images/conceptlogo.svg);
	text-indent: -9999px;
}
.siteHeader {
	height: 110px;
	background-color: #fdfdfd;
	padding: 15px;
	-webkit-box-shadow: 0 5px 0px 0 #d1d1d1;
	   -moz-box-shadow: 0 5px 0px 0 #d1d1d1;
	box-shadow: 0 5px 5px 0 #d1d1d1;
	background: -moz-linear-gradient(top,  rgba(186,186,186,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,186,186,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(186,186,186,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(186,186,186,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(186,186,186,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(186,186,186,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6bababa', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	padding-bottom: 0;
}
.siteHeader ul {
	display: inline;
	text-decoration: none;
}

/* ==================================================================== NAV BAR ============ */




.navbar {
float: right;
}

/* -- Contact Navigation-- */

.contactNav {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	width: 1080px;
	list-style: none;
}
.contactNav ul {
	position: absolute; top: 5px; right: 0px;
	margin: 0;
}
.contactNav li {
	display:block;
	padding-left: 20px;
	float:left;
	font-size: .68em;
	font-weight: bold;
	
}
.contactNav a {
	display: block;
	color: #0c6ecf;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
span {
	color: #000;
}

/* -- Main Navigation -- */

.mainNav {
	margin:0;
	padding:0;
	width: 1080px;
	list-style: none;
}
.mainNav ul {
	position: absolute; top: 50px; right: 0px;
	margin: 0;
}
.mainNav li {
	display:block;
	font-weight: bold;
	padding-left: 50px;
	font-size: 1em;
	float:left;
	letter-spacing: 2px;
}
.mainNav a {
	display:block;
	font-family: 'Oswald',sans-serif;
}




/* ================================================================== MAIN TAG CONTENT ==== */




.mainContent {
	width: 960px;
	margin: 0 auto;
	margin-top: 47px;
}
/* --Left Column SECTION-- */

.leftColumn {
	float: left;
	width: 45%;
	margin-right: 20px;
}
.leftTop {
	width: 499px;
	height: 389px;
	background: url(../images/splashtop-aqua.png) center no-repeat, url(../images/productbg.png) no-repeat;
}
.leftBottom {
	float: left;
	width:400px;
	height: 270px;
}
.sugprod  {
	width: 200px;
	margin: 0 auto;
	float: left;
}
.sugprod p {
	text-align: center;
}
.sugprod img {
}
/* --Right Column SECTION-- */

.rightColumn {
	float: left;
	width: 45%;
}
.rightTop {
	overflow: auto;
}
.rightBottom {
	margin-top: 20px;
	clear:both
}

/* -------------------------------FORM-- */
.price_div {
	width: 95px;
	float: left;
	margin-right: 20px;
}
.msrp {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.12em;
	font-weight: bold;
	padding: 0;
	margin: 0;
	line-height: 1.5;
}
.oldPrice {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.12em;
	font-weight: bold;
	color: #a3a3a3;
	text-decoration: line-through;
	padding: 0;
	margin: 0;
	line-height: 1;
}
.newPrice {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.12em;
	font-weight: bold;
	color: #af0508;
	padding: 0;
	margin: 0;
	border-bottom: 1px #646464 solid;
	line-height: 1;
	padding-bottom: 10px;
}
#fuck {
	color: #696969;
	padding-bottom: 10px;
	border-bottom: 1px #646464 solid;
}
.price_div a {
	width: 95px;
	height: 23px;
	display: inline-block;
	background-color: #121b6a;
	border-radius: 5px;
	color: #fff;
	font-size: .75em;
	text-align: center;
	padding-top: 7px;
	margin-top: 5px;
}
.form_div {
	float: left;
	width: 295px;
	height: 220px;
	padding-left: 20px;
	clear: right;
	border-left: 1px #646464 solid;
}
.selectbg {
	border-radius: 5px;
	border: 1px #bebebe solid;
	width: 175px;
	height: 35px;
	background: url(../images/selectarrow.gif) no-repeat right center #ffffff; /* Old browsers */
    background: url(../images/selectarrow.gif) no-repeat right center, -moz-linear-gradient(top,  #ffffff 0%, #ffffff 4%, #ededed 100%, #ededed 100%); /* FF3.6+ */
    background: url(../images/selectarrow.gif) no-repeat right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(4%,#ffffff), color-stop(100%,#ededed), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: url(../images/selectarrow.gif) no-repeat right center, -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 4%,#ededed 100%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: url(../images/selectarrow.gif) no-repeat right center, -o-linear-gradient(top,  #ffffff 0%,#ffffff 4%,#ededed 100%,#ededed 100%); /* Opera 11.10+ */
    background: url(../images/selectarrow.gif) no-repeat right center, -ms-linear-gradient(top,  #ffffff 0%,#ffffff 4%,#ededed 100%,#ededed 100%); /* IE10+ */
    background: url(../images/selectarrow.gif) no-repeat right center, linear-gradient(to bottom,  #ffffff 0%,#ffffff 4%,#ededed 100%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	overflow: hidden;
}
select {
	border: 0;
	background: transparent;
	height: 35px;
	width: 225px;
	web-kit appearance: none;
}
/* ======================================================================= FOOTER ========= */




.footer {
	background-color: #22223d;
	height: 200px;
	clear: both;
}
.footer div {
	padding-top: 35px;
	height: 165px;
	background: url(../images/footerlogo.gif) no-repeat;
}
.footer ul {
	font-size: .75em;
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	padding-right: 65px;
	float: left;
}
.footer li a {
	color: #fff;
}
.footer li {
	line-height: 2;
}
.copyright {
	color: #fff;
	font-size: .75em;
	font-family: 'Open Sans', sans-serif;
	float: right;
	text-align: right;
	margin: 0;
}
